:root {
	font-family: Rubik, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* Colors */
	--fg: #f6f6f6;
	--fg2: #d3d3d3;
	--fg3: #777777;
	--bg0: #101010;
	--bg: #161616;
	--bg2: #1d1d1d;
	--bg3: #2b2b2b;
	--bg4: #3a3a3a;
	--bg2disabled: #1b1b1b;
	--shadow: #121212;
	--text: var(--fg);

	--instance: #7ee91b;
	--profile: #1bb9e9;
	--package: #e9901b;
	--plugin: #8635ff;
	--warning: #e9ca1b;
	--error: #d40e3d;

	--instancebg: #17220d;
	--profilebg: #0d1f24;
	--packagebg: #311e05;
	--pluginfg: #b380ff;
	--pluginbg: #23123d;
	--errorbg: #2b0e14;

	/* Other values */
	--round: 0.2rem;
	--round2: 0.6rem;
	--input-height: 2.2rem;
	--shadow-offset: 0.35rem;

	color: var(--text);
	background-color: var(--bg);
	margin: 0px;
}

q.container {
	margin: 0;
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.cont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.6rem;
}

.col {
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: center;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

h1,
h2 {
	text-align: center;
}

input {
	border-radius: var(--round);
	padding: 0.5rem 1.2rem;
	height: var(--input-height);
	font-weight: bold;
	background-color: var(--bg0);
	transition: border-color 0.25s;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/* text-align: center; */
	border: 0.15rem solid var(--bg3);
	box-sizing: border-box;
}

input,
button,
.input-shadow {
	box-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow);
}

button {
	border-radius: var(--round);
	border: 1px solid transparent;
	padding: 0.5rem 1.2rem;

	background-color: var(--bg2);
	transition: border-color 0.25s;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	text-align: center;
}

button,
input {
	font-size: 1rem;
	font-family: inherit;
	color: var(--text);
}

button {
	cursor: pointer;
}

button:hover {
	border-color: #396cd8;
}

button:active {
	border-color: #396cd8;
	background-color: #e8e8e8;
}

/* Style classes */

.border {
	border-style: solid;
	border-width: 0.15rem;
	border-color: var(--fg);
	border-radius: var(--round);
}

.border-big {
	border-width: 0.25rem;
}

.bold {
	font-weight: bold;
}

/* Utility classes */

.link,
.link:link,
.link:visited,
.link:hover,
.link:active {
	color: var(--text);
}

.noselect,
br,
button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Animations */

.rotating {
	animation: rotating 2s linear infinite;
}

.error-shake {
	animation: shake 0.2s ease-in-out 0s 2;
	border: 0.15rem solid var(--error);
	border-radius: var(--round);
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes shake {
	0% {
		transform: translateX(0rem);
	}

	25% {
		transform: translateX(0.5rem);
	}

	75% {
		transform: translateX(-0.5rem);
	}

	100% {
		transform: translateX(0rem);
	}
}

/* Fade in */

.fade-in {
	animation: fade-in 0.3s ease-in;
}

@keyframes fade-in {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

/* Fonts */
@font-face {
	font-family: Rubik;
	src: url(/Rubik.ttf);
	font-display: swap;
}
