:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* Colors */
	--fg: #f6f6f6;
	--fg2: #d3d3d3;
	--fg3: #777777;
	--bg0: #131313;
	--bg: #181818;
	--bg2: #1e1e1e;
	--bg3: #2b2b2b;
	--text: var(--fg);
	--accent: #5f00ef;
	--accent2: #2f0077;
	--error: #c10f39;

	color: var(--text);
	background-color: var(--bg);
	margin: 0px;
}

q.container {
	margin: 0;
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.cont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.6rem;
}

.col {
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: center;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

h1,
h2 {
	text-align: center;
}

input,
button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: var(--text);
	background-color: var(--bg2);
	transition: border-color 0.25s;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	text-align: center;
}

button {
	cursor: pointer;
}

button:hover {
	border-color: #396cd8;
}
button:active {
	border-color: #396cd8;
	background-color: #e8e8e8;
}

.select {
	background-color: var(--bg2);
	color: var(--fg);

	.solid-select-control {
		background-color: var(--bg2);
		border-color: var(--bg2);
		&:focus-within {
			outline-color: var(--bg2);
		}
	}

	.solid-select-input {
		background-color: var(--bg2);
		color: var(--fg);
	}

	.solid-select-list {
		background-color: var(--bg2);
		color: var(--fg);
	}

	.solid-select-option {
		color: var(--fg);

		&:hover {
			background-color: var(--bg3);
		}

		&[data-focused="true"] {
			background-color: var(--bg3);
		}
	}
}

/* Style classes */

.border {
	border-style: solid;
	border-width: 0.15rem;
	border-color: var(--fg);
	border-radius: 0.8rem;
}

.border-big {
	border-width: 0.25rem;
}

.bold {
	font-weight: bold;
}

/* Utility classes */

.link,
.link:link,
.link:visited,
.link:hover,
.link:active {
	color: var(--text);
}

.noselect,
br,
button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Animations */
@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.rotating {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}
