.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100vw;
	--height: 2.5rem;
	height: var(--height);
	box-sizing: border-box;
	background-color: var(--bg0);
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	border-top: 0.15rem solid var(--bg3);
}

#footer-left {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

#footer-selection-indicator {
	margin-left: 1rem;
	font-size: 0.8rem;
	justify-content: flex-start;
	font-weight: bold;
	overflow: hidden;
	text-wrap: nowrap;
}

#footer-center-inner {
	display: grid;
	grid-template-columns: minmax(0, 4rem) minmax(0, 8rem);
	gap: 1rem;
	height: var(--height);
	margin-left: -4rem;
}

/* Action Button */

#footer-action-button-container {
	display: grid;
	grid-template-columns: minmax(0, 0.1fr) minmax(0, 0.8fr) minmax(0, 0.1fr);
	width: 8rem;
	height: 100%;
	cursor: pointer;
}

#footer-action-button {
	box-sizing: border-box;
	/* border-top: 0.15rem solid; */
	font-weight: bold;
}

.footer-action-button-decorations {
	width: 100%;
	height: 100%;
}

#footer-action-button,
.footer-action-button-decoration {
	transition: background-color 0.25s, border-color 0.25s;
}

.footer-action-button-decoration {
	height: 25%;
	box-sizing: border-box;
	border-top: 0.15rem solid;
}

.footer-action-button-decoration.left {
	border-left: 0.15rem solid;
	border-top-left-radius: var(--round);
}

.footer-action-button-decoration.right {
	border-right: 0.15rem solid;
	border-top-right-radius: var(--round);
}

.footer-action-button-decoration.right,
#footer-action-button {
	box-shadow: var(--shadow-offset) var(--shadow-offset) black;
}

#footer-right {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.running-instance-list {
	display: flex;
	margin-left: 1rem;
	align-items: center;
	justify-content: center;
	position: relative;
	gap: 0.35rem;
}

.running-instance-list-icon {
	width: 1.5rem;
	height: 100%;
	display: inline-block;
	background-color: var(--bg2);
	padding: 0.12rem;
	border-color: var(--bg);
}
