#launch-instance-list {
	width: 100%;
}

#launch-instance-list-header {
	gap: 2rem;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	text-align: center;
}

.launch-instance-list-header-item {
	font-size: 1.5rem;
	font-weight: bold;
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
}

.launch-instance-list-header-item.instances {
	border-color: var(--instance);
}

.launch-instance-list-header-item.profiles {
	border-color: var(--profile);
}

.launch-instance-list-header-item.selected {
	border-bottom-width: 0.2rem;
	padding-bottom: 0.2rem;
}

.launch-instance-list-section-container {
	width: 80%;
	margin-bottom: 2.6rem;
	gap: 0;
}

.launch-instance-list-section-header {
	/* margin-left: 1.8rem; */
	justify-content: flex-start;
	width: 100%;
}

.launch-instance-list-section-header > svg {
	margin-bottom: 0.05rem;
	margin-left: 1.3rem;
}

.launch-instance-list-section-header > h2 {
	line-height: 0;
	font-size: 1.2rem;
}

.launch-instance-list-section {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	width: 100%;
}

.launch-instance-list-item {
	background-color: var(--bg2);
	margin: 0.5rem;
	padding: 0.2rem;
	height: 4.3rem;
	text-align: center;
	box-sizing: border-box;
	border-color: var(--bg2);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	border-radius: var(--round2);
	gap: 0.8rem;
	position: relative;
	border: 0.15rem solid var(--bg2);
}

.launch-instance-list-item.instance.selected {
	border-color: var(--instance);
	color: var(--instance);
	background-color: var(--instancebg);
}

.launch-instance-list-item.profile.selected {
	border-color: var(--profile);
	color: var(--profile);
	background-color: var(--profilebg);
}

.launch-instance-list-icon {
	width: 3rem;
}

.launch-instance-list-pin {
	position: absolute;
	right: 0.8rem;
	/* margin-left: 4.5rem; */
	/* color: var(--bg); */
}

.launch-instance-list-item-details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
