.icon-text-button {
	border-radius: var(--round);
	border: 0.15rem solid transparent;
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
}

.icon-text-button-icon {
	margin-right: 0.5rem;
}

.icon-text-button-text {
	line-height: 1;
}
