.inline-select {
	display: grid;
	/* gap: 0.5rem; */
	background-color: var(--bg2);
	border-radius: 0.5rem;
}

.inline-select-option {
	background-color: var(--bg2);
	padding: 0.6rem;
	border-radius: 0.5rem;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.inline-select-option.not-last {
	border-right: 0.15rem solid var(--bg3);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.inline-select-option.not-first {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.inline-select-option.selected {
	border: 0.15rem solid;
	/* Subtract border from padding to keep layout from shifting */
	padding: 0.45rem;
}
