.inline-select {
	display: grid;
	gap: 0.5rem;
}

.inline-select-option {
	background-color: var(--bg2);
	padding: 0.6rem;
	border-radius: 0.5rem;
	box-sizing: border-box;
	cursor: pointer;
}

.inline-select-option.selected {
	border: 0.15rem solid;
	/* Subtract border from padding to keep layout from shifting */
	padding: 0.45rem;
}
