.password-prompt {
	border-width: 1px;
	width: 50%;
	height: 40%;
	position: fixed;
	left: 25%;
	top: 30%;
	background-color: var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	box-sizing: border-box;
}

.password-prompt-submit {
	margin-left: 0.5rem;
}

.password-prompt-input,
.password-prompt-submit {
	height: 70%;
}
