#navbar {
	position: fixed;
	border-left: none;
	border-right: none;
	border-top: none;
	border-radius: 0px;
	width: 100%;
	height: 3rem;
	border-color: var(--fg3);
	background-color: var(--bg2);
	left: 0px;
	top: 0px;
	z-index: 1000;
	box-sizing: border-box;
}

#navbar-container {
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	width: 100%;
	height: 100%;
}

.navbar-item {
	margin: 0px;
}

#navbar-container > h2 {
	margin: 0px;
	line-height: 0;
	margin-top: 0.45rem;
}

#navbar-gap {
	width: 100%;
	height: 3rem;
}
