#header {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	width: 100%;
}

.repo {
	font-size: 0.7rem;
	/* border-radius: var(--round2); */
	font-weight: bold;
}

#packages-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 0.8rem;
	width: 95%;
}

.package {
	/* padding: 0.5rem; */
	background-color: var(--bg2);
	border-color: var(--bg2);
	box-sizing: border-box;
	height: 15rem;
	border-radius: var(--round);
}

.package-inner {
	display: grid;
	grid-template-rows: minmax(0, 1fr) minmax(0, 0.35fr);
	height: 100%;
	width: 100%;
	gap: 0.2rem;
}

.package-image-container {
	width: 100%;
}

.package-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-left-radius: 0.8rem;
	border-top-right-radius: 0.8rem;
}

.package-header {
	/* text-align: center; */
	margin-top: 0.5rem;
	margin-left: 1.1rem;
	justify-content: center;
	align-items: flex-start;
	gap: 0.1rem;
}

.package-description {
	overflow: hidden;
	color: var(--fg3);
	font-size: 0.8rem;
}
