#header {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	width: 100%;
}

.repo {
	font-size: 0.7rem;
	/* border-radius: var(--round2); */
	font-weight: bold;
}

#packages-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 0.8rem;
	width: 95%;
}

.package {
	background-color: var(--bg2);
	box-sizing: border-box;
	height: 18rem;
	border-radius: var(--round);
	border-top-left-radius: var(--round2);
	border-top-right-radius: var(--round2);
	border: 0.15rem solid var(--bg3);
}

.package:hover {
	border-color: var(--bg4);
}

.package.selected {
	border-color: var(--package);
	background-color: var(--bg);
}

.package-inner {
	display: grid;
	grid-template-rows: minmax(0, 1fr) minmax(0, 0.75fr);
	height: 100%;
	width: 100%;
	gap: 0.2rem;
}

.package-image-container {
	width: 100%;
	border-bottom: 0.15rem solid var(--bg3);
}

.package-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-left-radius: var(--round2);
	border-top-right-radius: var(--round2);
}

.package-header {
	padding: 0.75rem;
	justify-content: center;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0.1rem;
}

.package-name {
	font-weight: bold;
	margin-top: -0.25rem;
}

.package-description {
	overflow: hidden;
	color: var(--fg3);
	font-size: 0.9rem;
	line-height: 1.2;
}

.package-error {
	border: 0.2rem solid var(--error);
	border-radius: var(--round2);
}
