.package-shadow {
	box-shadow: var(--shadow-offset) var(--shadow-offset) #111111bb;
}

#package-container {
	width: 97%;
}

#package-header-container {
	width: 100%;
	position: relative;
	justify-content: flex-start;
}

#package-header {
	display: grid;
	width: 100%;
	grid-template-columns: minmax(0, 0.08fr) minmax(0, 1fr);
	margin-top: 1rem;
	padding: 0.5rem;
	background-color: var(--bg2);
	border: 0.15rem solid var(--bg4);
	border-radius: var(--round2);
}

#package-icon {
	align-items: flex-start;
}

#package-icon-image {
	width: 4.3rem;
	border: 0.15rem solid var(--bg4);
	border-radius: var(--round2);
}

#package-details {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}

#package-upper-details {
	justify-content: flex-start;
}

#package-name {
	font-size: 1.3rem;
	font-weight: bold;
}

#package-id {
	color: var(--fg3);
	font-weight: bold;
}

#package-short-description {
	color: var(--fg3);
	justify-content: flex-start;
}

#package-banner-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: -2;
}

#package-banner {
	width: 100vw;
	object-fit: cover;
	height: 25rem;
}

#package-banner-gradient {
	position: absolute;
	top: 0rem;
	left: 0px;
	width: 100%;
	height: 25rem;
	background-image: linear-gradient(black, transparent, var(--bg));
}

#package-contents {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 0.4fr);
	width: 100%;
	gap: 1rem;
	margin-top: 1.5rem;
}

#package-tabs {
	height: 2.5rem;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	background-color: #111111bb;
	border-top-left-radius: var(--round2);
	border-top-right-radius: var(--round2);
}

.package-tab {
	border-top-left-radius: var(--round2);
	border-top-right-radius: var(--round2);
	font-weight: bold;
	border-top: 0.15rem solid transparent;
	border-bottom: 0.15rem solid var(--bg4);
	box-sizing: content-box;
	cursor: pointer;
}

.package-tab.selected {
	background-color: var(--bg2);
	border: 0.15rem solid var(--bg4);
	border-bottom: 0.15rem solid var(--bg2);
}

#package-tab-contents {
	background-color: var(--bg2);
	border: 0.15rem solid var(--bg4);
	border-radius: var(--round2);
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	min-height: 10rem;
	padding: 2rem;
}

#package-description {
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	overflow: scroll;
	color: var(--fg2);
	max-width: 100%;
}

#package-description img,
#package-description iframe {
	max-width: 100%;
	object-fit: contain;
}

#package-description div,
#package-description p {
	max-width: 100%;
	text-wrap: balance;
}

#package-description iframe {
	display: none;
}

#package-properties {
	background-color: var(--bg2);
	border: 0.15rem solid var(--bg4);
	border-radius: var(--round2);
	min-height: 50rem;
	justify-content: flex-start;
	padding: 0.5rem;
}

.package-property {
	width: 100%;
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 4fr);
}

.package-property-label {
	justify-content: flex-start;
	font-weight: bold;
}

.package-property-value {
	justify-content: flex-end;
	text-align: right;
	margin-right: 0.5rem;
	color: var(--fg3);
}

#package-gallery {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	width: 90%;
	gap: 1.5rem;
}

.package-gallery-entry {
	width: 100%;
	height: 10rem;
	object-fit: cover;
	border: 0.15rem solid var(--bg3);
	border-radius: var(--round2);
	cursor: pointer;
}

.package-gallery-entry:hover {
	border-color: var(--bg4);
}

#package-gallery-preview {
	width: 100%;
	border-radius: var(--round2);
}
